<%= javascript_include_tag 'played_games' %>
<h1> <%= @played_game.game.name %> </h1>
<p> Make your first of 5 guesses and use the clues to get closer and closer and closer</p>
<div id="map-canvas">
</div>

<div class="form">
  <%= form_tag '/guesses', :method => :post, :remote => true  do %>
    <%= hidden_field_tag :location, nil, :id => "location-field" %>
    <%= hidden_field_tag :played_game_id, nil, value: @played_game.id %>
  <% end %>
</div>

<div class='clues'>
  <ul>
  <% @clues.each do |clue| %>
    <li class="clue"><%= clue.content %></li>
    <% end %>
  </ul>
</div>
