<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title)+" | Scavenger Hunt" : "Scavenger Hunt" %></title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDRmO5W40zix_0cTkQ1Nwr2d8DOHv8py54&sensor=false&libraries=geometry" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>

</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <%= link_to "Homepage", root_url, :class => "navbar-text navbar-left" %>


      <% if user_signed_in? %>
        <%= link_to "Play Game", games_path, :class => "navbar-text navbar-left" %>
        <%= link_to "Create Game", new_game_path, :class => "navbar-text navbar-left" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete,
            :class => "navbar-text navbar-right" %>
        <%= link_to "Logged in as #{current_user.email}", edit_user_registration_path,
            :class => "navbar-text navbar-right" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path,
            :class => "navbar-text navbar-right" %>
        <%= link_to "Login", new_user_session_path,
            :class => "navbar-text navbar-right" %>
      <% end %>

    </div>
  </div>

  <div class="container">
    <%= flash[:notice] %>
    <%= flash[:alert] %>
     <%= yield %>

  </div>
</body>
</html>
